<h1>Welcome to Spinboard!</h1>
<h3>By: Sekhar Paladugu | Turing Module 4, 1508 Student</h3>

<%= link_to "Sign Up", new_user_path %><br><br>

<% if(current_user) %>
  <%= link_to "Logout", logout_path, method: :delete %><br><br>
<% else %>
  <%= link_to "Login", login_path %><br><br>
<% end %>
